---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/account/balance
    body:
      encoding: UTF-8
      string: '{"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057422031"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 26adeee0c16462e30cfcdba245ab5927ae4d5d167b971773e22bb644e2fa720f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '115'
      X-Apiary-Transaction-Id:
      - 556ab7d01197a90300fefd03
    body:
      encoding: UTF-8
      string: |2-
            {
                "success":true,
                "message":"Account Balances",
                "data":
                {
                    "BTC":
                        {
                            "available":"5.26240216",
                            "on_hold":"0.00000000",
                            "total":"5.26240216"
                        },
                    "USD":
                        {
                            "available":"0.35",
                            "on_hold":"0.00",
                            "total":"0.35"
                        },
                    "CAD":
                        {
                            "available":"1.41",
                            "on_hold":"0.00",
                            "total":"1.41"
                        }
                    }
                }
  recorded_at: Sun, 31 May 2015 07:30:22 GMT
recorded_with: VCR 2.9.3
