---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/account/balance
    body:
      encoding: UTF-8
      string: '{"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432345445508"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 24645e009d7c521b01f49b5b9a3737923237ccddcb4d4b8d982879d4047680d8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '115'
      X-Apiary-Transaction-Id:
      - 555fdab3759c2d030016a114
    body:
      encoding: UTF-8
      string: |2-
            {
                "success":true,
                "message":"Account Balances",
                "data":
                {
                    "BTC":
                        {
                            "available":"5.26240216",
                            "on_hold":"0.00000000",
                            "total":"5.26240216"
                        },
                    "USD":
                        {
                            "available":"0.35",
                            "on_hold":"0.00",
                            "total":"0.35"
                        },
                    "CAD":
                        {
                            "available":"1.41",
                            "on_hold":"0.00",
                            "total":"1.41"
                        }
                    }
                }
  recorded_at: Sat, 23 May 2015 01:44:05 GMT
recorded_with: VCR 2.9.3
