---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/cancel
    body:
      encoding: UTF-8
      string: '{"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057425310"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 8e749f76f59ae36b3ad63c488f0f4e7c09a37aacef445bc38cc9f49049e80a84
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '111'
      X-Apiary-Transaction-Id:
      - 556ab7d42e7cbc030044b280
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"BTCCAD Order Canceled",
            "data":
            {
                "id":"85",
                "currency_pair":"BTCAD"
            }
        }
  recorded_at: Sun, 31 May 2015 07:30:26 GMT
recorded_with: VCR 2.9.3
