---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/buy
    body:
      encoding: UTF-8
      string: '{"total_quantity":1,"price":10,"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057423470"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 6f5a1972c6175b71a7bbc91af0546714014ffb0496b34917f74a78ccf896dedf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '113'
      X-Apiary-Transaction-Id:
      - 556ab7d22e7cbc030044b27d
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Buy Order Created",
            "data":
            {
                "id":"2222321"
            }
        }
  recorded_at: Sun, 31 May 2015 07:30:24 GMT
recorded_with: VCR 2.9.3
