---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/sell
    body:
      encoding: UTF-8
      string: '{"total_quantity":1,"price":10,"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432346100933"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 1d0c373355c23c76611d9b9bbcabacc18567ca6f2434dd1001a5c5bc5bf00638
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '113'
      X-Apiary-Transaction-Id:
      - 555fdd43d00c360300318168
    body:
      encoding: UTF-8
      string: "{\n    \"success\":true,\n    \"message\":\"Sell Order Created\",\n
        \   \"data\":\n    {\n        \"id\":\"2221132\"\n    }\n}        "
  recorded_at: Sat, 23 May 2015 01:55:01 GMT
recorded_with: VCR 2.9.3
