---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/buy
    body:
      encoding: UTF-8
      string: '{"total_quantity":10,"price":1,"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432345445832"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - c872ef62da714fc21b62b488642e9cc985dfa79c7bf74cadfc42465b69ad01a2
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '114'
      X-Apiary-Transaction-Id:
      - 555fdab4d00c36030031803b
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Buy Order Created",
            "data":
            {
                "id":"2222321"
            }
        }
  recorded_at: Sat, 23 May 2015 01:44:06 GMT
recorded_with: VCR 2.9.3
