---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/buy
    body:
      encoding: UTF-8
      string: '{"total_quantity":1,"price":10,"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432346100616"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 4daece862621e000c8a7e7029593e40a71007fab984f477323b887ef44d98e1e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '114'
      X-Apiary-Transaction-Id:
      - 555fdd43d00c360300318166
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Buy Order Created",
            "data":
            {
                "id":"2222321"
            }
        }
  recorded_at: Sat, 23 May 2015 01:55:00 GMT
recorded_with: VCR 2.9.3
