---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/sell
    body:
      encoding: UTF-8
      string: '{"total_quantity":1,"price":10,"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057424184"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 9f01bd5f5e9ef05597d65bba8b2924efeddf0ff1c8d020f49749bbad6a3e0f0f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '112'
      X-Apiary-Transaction-Id:
      - 556ab7d32e7cbc030044b27f
    body:
      encoding: UTF-8
      string: "{\n    \"success\":true,\n    \"message\":\"Sell Order Created\",\n
        \   \"data\":\n    {\n        \"id\":\"2221132\"\n    }\n}        "
  recorded_at: Sun, 31 May 2015 07:30:25 GMT
recorded_with: VCR 2.9.3
