---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/sell
    body:
      encoding: UTF-8
      string: '{"total_quantity":10,"price":1,"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432345446127"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 7acd255a7f4952cd9263278accef8dba47d6549542671d6e15e54ab1b369e0fc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '113'
      X-Apiary-Transaction-Id:
      - 555fdab4759c2d030016a116
    body:
      encoding: UTF-8
      string: "{\n    \"success\":true,\n    \"message\":\"Sell Order Created\",\n
        \   \"data\":\n    {\n        \"id\":\"2221132\"\n    }\n}        "
  recorded_at: Sat, 23 May 2015 01:44:06 GMT
recorded_with: VCR 2.9.3
