---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/buy
    body:
      encoding: UTF-8
      string: '{"total_quantity":"1.00000000","price":"10.00","secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"2015-06-13
        22:58:40 UTC"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - e6ca511afb0371d980c721d3eaed730212841c79b02c45ac4373193858109529
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '113'
      X-Apiary-Transaction-Id:
      - 557cb5a007ab240300e4f000
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Buy Order Created",
            "data":
            {
                "id":"2222321"
            }
        }
  recorded_at: Sat, 13 Jun 2015 22:58:40 GMT
recorded_with: VCR 2.9.3
