---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/sell
    body:
      encoding: UTF-8
      string: '{"total_quantity":"1.00000000","price":"10.00","secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"2015-06-13
        22:58:40 UTC"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - e6ca511afb0371d980c721d3eaed730212841c79b02c45ac4373193858109529
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '112'
      X-Apiary-Transaction-Id:
      - 557cb5a2298cd9030092288b
    body:
      encoding: UTF-8
      string: "{\n    \"success\":true,\n    \"message\":\"Sell Order Created\",\n
        \   \"data\":\n    {\n        \"id\":\"2221132\"\n    }\n}        "
  recorded_at: Sat, 13 Jun 2015 22:58:42 GMT
recorded_with: VCR 2.9.3
