---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/sell
    body:
      encoding: UTF-8
      string: '{"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432344744396"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - dd528bcedd43c83c6dac7e36d73853dfc8d45ab4145f50e981e0645d4a0d5c79
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '113'
      X-Apiary-Transaction-Id:
      - 555fd7f63edda90300f69c0e
    body:
      encoding: UTF-8
      string: "{\n    \"success\":true,\n    \"message\":\"Sell Order Created\",\n
        \   \"data\":\n    {\n        \"id\":\"2221132\"\n    }\n}        "
  recorded_at: Sat, 23 May 2015 01:32:24 GMT
recorded_with: VCR 2.9.3
