---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/list
    body:
      encoding: UTF-8
      string: '{"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057426129"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - d2544302f633bcdc69acaadc9a1ff2b38ec2aafde490114d52cf2c65a11e856c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '110'
      X-Apiary-Transaction-Id:
      - 556ab7d51197a90300fefd08
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "totalCount":3,
            "message":"3 Open Orders Found",
            "data":
            [
            {
                "id":"917",
                "type":"Buy",
                "price":"590.00",
                "quantity":"0.00900000",
                "total":"5.31",
                "created":"2014-03-22 02:24:57"
            },{
                "id":"916",
                "type":"Buy",
                "price":"590.00",
                "quantity":"0.00900000",
                "total":"5.31",
                "created":"2014-03-22 02:24:55"
            },{
                "id":"915",
                "type":"Buy",
                "price":"590.00",
                "quantity":"0.00900000",
                "total":"5.31",
                "created":"2014-03-22 02:24:53"
            }]
        }
  recorded_at: Sun, 31 May 2015 07:30:27 GMT
recorded_with: VCR 2.9.3
