---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/marketbuy
    body:
      encoding: UTF-8
      string: '{"total_amount":"1.00","secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"2015-06-13
        22:58:44 UTC"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 3c5b668c79d72cb9a47bf2a8d99f2b9b48f4b25c997de1ddb0ae5ebd82591c85
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '109'
      X-Apiary-Transaction-Id:
      - 557cb5a54d869603009fceac
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Market Buy BTCUSD Completed",
            "data":{
                "type":"purchase",
                "amount_requested":"10.00",
                "amount":"0.01250000",
                "fee":"0.03",
                "avg_price":"800.00",
                "receipt":"72218",
                "timestamp":"2014-06-14 00:15:06",
                "currency_pair":"BTCUSD"
            }
        }
  recorded_at: Sat, 13 Jun 2015 22:58:45 GMT
recorded_with: VCR 2.9.3
