---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/order/BTCUSD/marketsell
    body:
      encoding: UTF-8
      string: '{"total_amount":"1.00","secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"2015-06-13
        22:58:45 UTC"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 2c72ecb3899789fd228447ae223e87a5ef543765d0e75e2363cd77745c29397b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '108'
      X-Apiary-Transaction-Id:
      - 557cb5a676b3fe03003a2430
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Market Sell BTCUSD Completed",
            "data":
            {
                "type":"sale",
                "request_sell":"0.50000000",
                "amount":"295.00",
                "fee":"0.00160000",
                "avg_price":"590.00",
                "receipt":"792112",
                "timestamp":"2014-06-14 00:31:39",
                "currency_pair":"BTCUSD"
            }
        }
  recorded_at: Sat, 13 Jun 2015 22:58:46 GMT
recorded_with: VCR 2.9.3
