---
http_interactions:
- request:
    method: get
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/stats/daily/BTCUSD
    body:
      encoding: UTF-8
      string: '{"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057419422"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 3f6c9382829c93d3d8a65522b4acf1209e0fab1b21f019bf389edab4399ccd3b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      X-Apiary-Transaction-Id:
      - 556ab7ce1197a90300fefd01
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"24hr BTCUSD Stats",
            "data":
            {
                "BTCUSD":
                {
                "lastTradePrice":"453.00",
                "bid":"420.00",
                "offer":"426.22",
                "high":"453.00",
                "low":"420.00",
                "average":"429.88",
                "volume":"38.26969417"
                }
            }
        }
  recorded_at: Sun, 31 May 2015 07:30:20 GMT
recorded_with: VCR 2.9.3
