---
http_interactions:
- request:
    method: get
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/stats/weekly/BTCUSD
    body:
      encoding: UTF-8
      string: '{"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057420226"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - a3d56588c3cd703d37cca711112af8c2aacac15350111425d73fc01077ee9af2
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '117'
      X-Apiary-Transaction-Id:
      - 556ab7cf2e7cbc030044b279
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"7 Day BTCUSD Stats",
            "data":
            {
                "BTCUSD":
                {
                    "lastTradePrice":"640.56",
                    "bid":"640.56",
                    "offer":"643.52",
                    "high":"690.00",
                    "low":"550.00",
                    "average":"629.55",
                    "volume":"616.24892785"
                }
            }
        }
  recorded_at: Sun, 31 May 2015 07:30:21 GMT
recorded_with: VCR 2.9.3
