---
http_interactions:
- request:
    method: get
    uri: https://private-anon-b5aa2a7bf-cointrader.apiary-mock.com/api4/stats/weekly/BTCUSD
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      X-Apiary-Transaction-Id:
      - 54ea1e3dcdf6dc03006f6fc2
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"7 Day BTCUSD Stats",
            "data":
            {
                "BTCUSD":
                {
                    "lastTradePrice":"640.56",
                    "bid":"640.56",
                    "offer":"643.52",
                    "high":"690.00",
                    "low":"550.00",
                    "average":"629.55",
                    "volume":"616.24892785"
                }
            }
        }
  recorded_at: Sun, 22 Feb 2015 18:22:41 GMT
recorded_with: VCR 2.9.3
