---
http_interactions:
- request:
    method: get
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/stats/daily/BTCUSD
    body:
      encoding: UTF-8
      string: '{"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432345442867"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 5ebeefd0e7dac526a9fdd878d575c2ca8bcb23763c19a02c696de162b056edac
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      X-Apiary-Transaction-Id:
      - 555fdab1759c2d030016a111
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"24hr BTCUSD Stats",
            "data":
            {
                "BTCUSD":
                {
                "lastTradePrice":"453.00",
                "bid":"420.00",
                "offer":"426.22",
                "high":"453.00",
                "low":"420.00",
                "average":"429.88",
                "volume":"38.26969417"
                }
            }
        }
  recorded_at: Sat, 23 May 2015 01:44:03 GMT
recorded_with: VCR 2.9.3
