---
http_interactions:
- request:
    method: get
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/stats/weekly/BTCUSD
    body:
      encoding: UTF-8
      string: '{"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432344742653"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 5a17dd87ba728e522fbabb8852657de00f50da63b74c5e886611baf3e71affa4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '117'
      X-Apiary-Transaction-Id:
      - 555fd7f5759c2d0300169fa9
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"7 Day BTCUSD Stats",
            "data":
            {
                "BTCUSD":
                {
                    "lastTradePrice":"640.56",
                    "bid":"640.56",
                    "offer":"643.52",
                    "high":"690.00",
                    "low":"550.00",
                    "average":"629.55",
                    "volume":"616.24892785"
                }
            }
        }
  recorded_at: Sat, 23 May 2015 01:32:22 GMT
recorded_with: VCR 2.9.3
