---
http_interactions:
- request:
    method: get
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/stats/weekly/BTCUSD
    body:
      encoding: UTF-8
      string: '{"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432346099139"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 7b614a5ab6e98c85e11a5c5704bf9d1295ee78e1ca6d4b725b4aba196ec36c83
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '117'
      X-Apiary-Transaction-Id:
      - 555fdd41759c2d030016a23c
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"7 Day BTCUSD Stats",
            "data":
            {
                "BTCUSD":
                {
                    "lastTradePrice":"640.56",
                    "bid":"640.56",
                    "offer":"643.52",
                    "high":"690.00",
                    "low":"550.00",
                    "average":"629.55",
                    "volume":"616.24892785"
                }
            }
        }
  recorded_at: Sat, 23 May 2015 01:54:59 GMT
recorded_with: VCR 2.9.3
