---
http_interactions:
- request:
    method: get
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/stats/symbol
    body:
      encoding: UTF-8
      string: '{"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432346097904"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 3024406fa2604dac33c579b663fb5e258dd37f2baa37c44839a1c4d5503041a3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 555fdd40d00c360300318162
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Supported Symbols",
            "data":
            [
            {
                "name":"Bitcoin (BTC)",
                "symbol":"XBT",
                "description":"Basic Bitcoin-demoninated account",
                "decimals":"8"
            },
            {
                "name":"U.S. Dollar (USD)",
                "symbol":"USD","description":"Basic USD-denominated account",
                "decimals":"2"
            },
            {
                "name":"Canadian Dollar (CAD)",
                "symbol":"CAD",
                "description":"Basic CAD-denominated account",
                "decimals":"2"
            }
            ]
        }
  recorded_at: Sat, 23 May 2015 01:54:58 GMT
recorded_with: VCR 2.9.3
