---
http_interactions:
- request:
    method: get
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/stats/symbol
    body:
      encoding: UTF-8
      string: '{"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057418585"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - fccdb2547fe2851d7d8e747839b9ce8e900d5336e616845e6f83ca61d35cdb8e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 556ab7cd9798a803008172db
    body:
      encoding: UTF-8
      string: |-
        {
            "success":true,
            "message":"Supported Symbols",
            "data":
            [
            {
                "name":"Bitcoin (BTC)",
                "symbol":"XBT",
                "description":"Basic Bitcoin-demoninated account",
                "decimals":"8"
            },
            {
                "name":"U.S. Dollar (USD)",
                "symbol":"USD","description":"Basic USD-denominated account",
                "decimals":"2"
            },
            {
                "name":"Canadian Dollar (CAD)",
                "symbol":"CAD",
                "description":"Basic CAD-denominated account",
                "decimals":"2"
            }
            ]
        }
  recorded_at: Sun, 31 May 2015 07:30:19 GMT
recorded_with: VCR 2.9.3
