---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/account/tradehistory/BTCUSD
    body:
      encoding: UTF-8
      string: '{"secret":"5zyeBRp8XnXzPEeMkPZJ4tm4Pjqejw6ovnRuazBit1Eo","t":"1433057422699"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - oo2GEmR7GX7gw3weoz57kKsR21k8VgJFEfEaoUYOCIRf
      X-Auth-Hash:
      - 547b1f705ccab06242b45b72582553f639e34c1995efbf3ccc48c1e373f925b4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '114'
      X-Apiary-Transaction-Id:
      - 556ab7d17ca52603008d8362
    body:
      encoding: UTF-8
      string: |2-
            {
                "success":true,
                "totalCount":"1",
                "message":"Showing 1 Executed BTCUSD Trades",
                "data":
                [{
                    "currency_pair":"BTCUSD",
                    "type":"Buy",
                    "trade_id":"8739",
                    "order_id":"2194028",
                    "quantity":"0.02549920",
                    "price":"453.00",
                    "total":"11.55",
                    "fee":"0.06",
                    "executed":"2014-05-06 02:56:52"
                }]
            }
  recorded_at: Sun, 31 May 2015 07:30:23 GMT
recorded_with: VCR 2.9.3
