---
http_interactions:
- request:
    method: post
    uri: https://private-anon-e01e290b7-cointrader.apiary-mock.com/api4/account/tradehistory/BTCUSD
    body:
      encoding: UTF-8
      string: '{"secret":"l33lpBPqrNazDz5bgOpQkaerFtpOBqw8wjLTK3sbEcSK","t":"1432563675464"}'
    headers:
      Content-Type:
      - application/json
      X-Auth:
      - hCkVvzR4Nuc6dbuN0biMFSqMqSfc1f1grhXqoaQAlq1y
      X-Auth-Hash:
      - 86286679b86562563b5462455364c7b9a43f72c039e6de810e24ce45114b57a9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 55632f26aeabd60300f6d68f
    body:
      encoding: UTF-8
      string: |2-
            {
                "success":true,
                "totalCount":"1",
                "message":"Showing 1 Executed BTCUSD Trades",
                "data":
                [{
                    "currency_pair":"BTCUSD",
                    "type":"Buy",
                    "trade_id":"8739",
                    "order_id":"2194028",
                    "quantity":"0.02549920",
                    "price":"453.00",
                    "total":"11.55",
                    "fee":"0.06",
                    "executed":"2014-05-06 02:56:52"
                }]
            }
  recorded_at: Mon, 25 May 2015 14:21:15 GMT
recorded_with: VCR 2.9.3
